body{
    background-image: url("background.jpg");
    background-size:100%;
}

.a{
    list-style: none;
    display: block;
}

.a li{
    display: inline;
    margin: 10px;
    position: relative;
    list-style-type: none;
}
.b {
    font-size: 17.5px;
}
.c{
    width: 0em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.d{
    color: rgb(216, 159, 14);
}
.s{
    color: blueviolet;
}
.z{
    float: right;
}